---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # neovim_version: ["nightly", "stable"]
        # TODO stable does not seem to support treesitter
        neovim_version: ["nightly"]

    steps:
      - uses: actions/checkout@v4.2.2
      - name: Set up dependencies
        run: |
          # ripgrep is (of course) a dependency
          which rg || {
            sudo apt-get install ripgrep
          }
          echo "Ripgrep version: $(rg --version)"

          which git || {
            sudo apt-get install git
          }
          echo "git version: $(git --version)"

      - name: Run lua tests
        uses: nvim-neorocks/nvim-busted-action@v1.1.0
        with:
          nvim_version: ${{ matrix.neovim_version }}
          luarocks_version: "3.11.1"

      # https://github.com/cypress-io/github-action?tab=readme-ov-file#pnpm-workspaces
      - uses: pnpm/action-setup@v4.1.0
      - uses: actions/setup-node@v4.2.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/Cypress
          key: my-cache-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
      - run: pnpm install

      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install
      - run: pnpm cy:run

      - uses: actions/upload-artifact@v4.4.3
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
