---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        neovim_version: ["nightly", "stable"]

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install tools with UBI
        shell: bash
        run: |
          mkdir -p "$HOME/.local/bin"
          # make the tools available for subsequent steps
          echo "$(pwd)/bin" >> "$GITHUB_PATH"
          curl --silent --location \
              https://raw.githubusercontent.com/houseabsolute/ubi/master/bootstrap/bootstrap-ubi.sh |
              TARGET="$HOME/.local/bin" sh

          ubi --project mikefarah/yq

          VERSION=$(yq '.tools."ubi:BurntSushi/ripgrep".version' .mise.toml)
          ubi --project BurntSushi/ripgrep --tag "$VERSION" --exe rg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run lua tests
        uses: nvim-neorocks/nvim-busted-action@d30f6d4d794c0e77b6edb530872205f98ae969c4 # v1.1.1
        with:
          nvim_version: ${{ matrix.neovim_version }}
          luarocks_version: "3.11.1"

      # https://github.com/cypress-io/github-action?tab=readme-ov-file#pnpm-workspaces
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: |
            ~/.cache/Cypress
          key: my-cache-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
      - run: pnpm install

      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install
      - name: Run end-to-end tests
        run: |
          rg --version
          pnpm tui run

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`

